* {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.font-bold {
  font-weight: 600;
}

.text-purple {
  color: #c70590 !important;
}

/* Navbar */
.active {
  color: #c70590 !important;
}
.navbar {
  background-color: #e3e6f3;
}
.active::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #dd06a0;
  left: 0;
  top: 100%;
}
.nav-link {
  position: relative;
  margin: 0 5px;
  display: inline-block;
  width: min-content;
}

.nav-link:not(.active)::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 0%;
  background-color: #dd06a0;
  left: 0;
  top: 100%;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.nav-link:hover,
.nav-link:hover::before {
  width: 100%;
  opacity: 1;
  color: #c70590 !important;
}

/* Banner section style */
.banner_section {
  height: 88vh;
  width: 100%;
  background-image: url(../img/hero4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.hero_button {
  background-image: url(../img/button.png);
  border: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  padding: 5px 15px;
  background-color: transparent;
  color: #c70590 !important;
}

.product-card {
  width: 260px !important;
  overflow: hidden;
}
.product-card img {
  width: 100%;
  object-fit: cover;
}

.cart-component {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.cart-component:hover {
  background-color: green !important;
}
.cart-component:hover .fa-cart-shopping {
  color: white !important;
}
